@using HealthAndBeauty.Models.OrderModels;
@using System.Linq;
@using System.Globalization;
<head>
    <link rel="stylesheet" href="~/css/history/history.css" />
</head>

@{ 
    var ci = new CultureInfo("en-US");
}

<body>
    <h3>Active orders</h3>
    @foreach (HistoryGroup history in ViewBag.ActiveOrdersHistory)
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-white p-2 border rounded px-3">
                        <div class="d-flex flex-row justify-content-between align-items-center order">
                            <div class="d-flex flex-column order-details">
                                <span>Your order is in progress</span>
                                <span class="date">OrderId: @history.History[0].OrderId</span>
                            </div>
                            <div class="tracking-details"><button class="btn btn-outline-primary btn-sm" type="button">Track order details</button></div>
                        </div>
                        <hr class="divider mb-4">
                        <div class="d-flex flex-row justify-content-between align-items-center align-content-center">

                            <span class="dot"></span>

                            @if (history.Count >= 2)
                            {
                                <hr class="flex-fill track-line"><span class="dot"></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="dot inactive"></span>
                            }

                            @if (history.Count >= 3)
                            {
                                <hr class="flex-fill track-line"><span class="dot"></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="dot inactive"></span>
                            }


                            @if (history.Count == 4)
                            {
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot"><i class="fa fa-check text-white"></i></span>
                            }
                            else
                            {
                                <hr class="flex-fill track-line inactive"><span class="d-flex justify-content-center align-items-center big-dot dot inactive"><i class="fa fa-check text-white"></i></span>
                            }

                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-column align-items-start">
                                <span>@history.History[0].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                <span>@history.History[0].CreateDate.ToString("HH:mm:ss", ci)</span>
                                <span>Order created</span>
                            </div>

                            @if (history.Count >= 2)
                            {
                                <div class="d-flex flex-column justify-content-center">
                                    <span>@history.History[1].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                    <span>@history.History[1].CreateDate.ToString("HH:mm:ss", ci)</span>
                                    <span>Wait for delivery</span>
                                </div>
                            }

                            @if (history.Count >= 3)
                            {
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <span>@history.History[2].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                    <span>@history.History[2].CreateDate.ToString("HH:mm:ss", ci)</span>
                                    <span>In delivery</span>
                                </div>
                            }
                            @if (history.Count == 4)
                            {
                                <div class="d-flex flex-column align-items-center">
                                    <span>@history.History[3].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                    <span>@history.History[3].CreateDate.ToString("HH:mm:ss", ci)</span>
                                    <span>Delivered</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <h3 style="margin-top: 50px;">Delivered orders</h3>
    @foreach (HistoryGroup history in ViewBag.OrdersHistory)
    {
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-white p-2 border rounded px-3">


                        <div class="d-flex flex-row justify-content-between align-items-center order">
                            <div class="d-flex flex-column order-details">
                                <span>Your order has been delivered</span>
                                <span class="date">OrderId: @history.History[0].OrderId</span>
                                <span class="date">Delivery time: @history.History[3].CreateDate.Subtract(history.History[0].CreateDate).ToString("hh':'mm':'ss")</span>
                            </div>
                            <div class="tracking-details"><button class="btn btn-outline-primary btn-sm" type="button">Track order details</button></div>
                        </div>

                        <hr class="divider mb-4">
                        <div class="d-flex flex-row justify-content-between align-items-center align-content-center">

                            <span class="dot"></span>
                            <hr class="flex-fill track-line"><span class="dot"></span>
                            <hr class="flex-fill track-line"><span class="dot"></span>
                            <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot"><i class="fa fa-check text-white"></i></span>
                        </div>

                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-column align-items-start">
                                <span>@history.History[0].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                <span>@history.History[0].CreateDate.ToString("HH:mm:ss", ci)</span>
                                <span>Order created</span>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span>@history.History[1].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                <span>@history.History[1].CreateDate.ToString("HH:mm:ss", ci)</span>
                                <span>Wait for delivery</span>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <span>@history.History[2].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                <span>@history.History[2].CreateDate.ToString("HH:mm:ss", ci)</span>
                                <span>In delivery</span>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <span>@history.History[3].CreateDate.ToString("dd MMM yyyy", ci)</span>
                                <span>@history.History[3].CreateDate.ToString("HH:mm:ss", ci)</span>
                                <span>Delivered</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>
