
@model HealthAndBeauty.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Shopping cart";
}
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJMF3gVJD6f6ue_2lLeBODZIfgOI2B3os"></script>
    <script src="~/js/shoppingcart-scripts/shoppingcart-scripts.js"></script>
    <link rel="stylesheet" href="~/css/shopping_cart/shopping_cart.css" />
</head>
<body>


    @if (ViewBag.FoodSets.Count == 0)
    {
        <a class="font-weight-bold">Your shopping cart is empy</a>
    }

    <section>

        <div class="row">

            <div class="col-lg-8">
                @foreach (FoodSet foodSet in ViewBag.FoodSets)
                {
                    <div class="card wish-list mb-3">
                        <div class="card-body">

                            <div class="row mb-4">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             src="~/images/foodSets/@foodSet.ImageData" alt="Sample">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <p class="mb-3 text-muted text-uppercase small">Set name: @foodSet.Name</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-0"><span>Price: <strong>@foodSet.Price</strong>$</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="mb-4">We accept</h5>
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa">
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                             alt="American Express">
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                             alt="Mastercard">
                    </div>
                    <hr class="mb-4">
                </div>
            </div>
            @if (ViewBag.FoodSets.Count > 0)
            {
                <div class="col-lg-4">

                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="mb-3">The total price of @ViewBag.FoodSets.Count items is <span><strong>@ViewBag.totalPrice$</strong></span> </h5>

                            <h6 class="mb-3" style="margin: 0 !important;"><span><strong>Payment</strong></span> options</h6>

                            <form method="post" asp-controller="FoodSets" asp-action="ShoppingCart" name="properties_form">

                                <fieldset id="payment-group">
                                    <div>
                                        @Html.RadioButtonFor(model => model.IsCash, true, new { id = "IsCash_true" })
                                        <label for="IsCash_true">Cash</label>
                                        <br />
                                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                                        @Html.RadioButtonFor(model => model.IsCash, false, new { id = "IsCash_false" })
                                        <label for="IsCash_false">Card</label>
                                        <br />
                                    </div>
                                </fieldset>
    
                                <div class="creditCardForm hidden" id="cardForm">
                                    <div class="payment">

                                        <div class="form-group owner">
                                            <label for="owner">Owner</label>
                                            <input type="text" class="form-control" id="owner">
                                        </div>
                                        <div class="form-group CVV">
                                            <label for="cvv">CVV</label>
                                            <input type="text" class="form-control" id="cvv">
                                        </div>
                                        <div class="form-group" id="card-number-field">
                                            <label asp-for="CardNumber">Card Number</label>
                                            <input asp-for="CardNumber" type="text" inputmode="numeric" class="form-control" id="cardNumber">
                                        </div>
                                        <div class="form-group" id="expiration-date">
                                            <label>Expiration Date</label>
                                            <div class="exp-wrapper">
                                                <input autocomplete="off" class="exp" id="month" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
                                                <input autocomplete="off" class="exp" id="year" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h6 class="mb-3" style="margin: 0 !important;"><span><strong>Customer</strong></span> info</h6>

                                <label asp-for="PhoneNumber" id="phoneInputLabel">Phone</label>
                                <input asp-for="PhoneNumber" type="text" id="phoneInput" value="@ViewBag.Phone" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <h6 class="mb-3" style="margin: 0 !important;"><span><strong>Delivery</strong></span> options</h6>

                                <fieldset id="delivery-group">
                                    <div>
                                        @Html.RadioButtonFor(model => model.IsDelivery, true, new { id = "IsDelivery_true" })
                                        <label for="IsDelivery_true">Delivery</label>
                                        <br />
                                        <span asp-validation-for="PickupAddress" class="text-danger"></span>
                                        @Html.RadioButtonFor(model => model.IsDelivery, false, new { id = "IsDelivery_false" })
                                        <label for="IsDelivery_false">Pickup</label>
                                        <br />
                                    </div>
                                </fieldset>

                                <div id="deliveryAddressForm" class="delivery-address-form">
                                    <label asp-for="Address" id="addressInputLabel"></label>
                                    <input asp-for="Address" type="text" id="addressInput" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                                <div id="pickupAddressForm" class="pickup-address-form hidden">
                                    @Html.DropDownListFor(model => model.PickupAddress, new SelectList(ViewBag.Addresses, "Text", "Text"), "", new { @id = "AddressId", @class = "address-select" })
                                    <div id="MapDiv" class="map-container-small" style="width: 100% !important;"> </div>

                                    <div id="info-panel">
                                        <p style="margin: 0 !important;" id="distance"></p>
                                        <p style="margin: 0 !important;" id="duration"></p>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block waves-effect waves-light" style="margin-top:10px;" value="Confirm order" />
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</body>
