@model IQueryable<HealthAndBeauty.Models.FoodSet>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/manifest.webmanifest" rel="manifest" />
    <link rel="stylesheet" href="~/css/product_card/product_card.css" />
</head>

<body>
    <div class="jumbotron" style="margin-left:30px; margin-right:37px;">
        <h1>Welcome!</h1>
        <p class="lead">Visit our website and become healthier!</p>
        <hr class="my-4">
        <p>We offer you to read the latest news in the industry.</p>
        <a asp-controller="AboutUs" asp-action="AboutUs" class="btn btn-primary btn-lg" role="button">Learn more</a>

    </div>

    <div class="card-deck deck-index">
        @foreach (FoodSet foodSet in ViewBag.FoodSets)
        {
            <div class="product-card">
                <div class="card-image">
                    <div class="card-image-container">
                        <picture>
                            <source srcset="https://cdn.scope.city/d/OX/Ly/6Va5DtZPDS6EO6s3YNjrk3rhDA30.jpg?w=380&amp;h=180, https://cdn.scope.city/d/OX/Ly/6Va5DtZPDS6EO6s3YNjrk3rhDA30.jpg?w=760&amp;h=360 2x">
                            <img src="https://cdn.scope.city/d/OX/Ly/6Va5DtZPDS6EO6s3YNjrk3rhDA30.jpg?w=380&amp;h=180">
                            <div class="image"><img src="~/images/foodSets/@foodSet.ImageData" alt="ls-sample1" /></div>
                        </picture>
                    </div>
                    <div class="time-info-block">
                        <div class="time-info-block-content">
                            <span><strong>@foodSet.DeliveryTime</strong> min</span>
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <a class="name-block" asp-controller="FoodSets" asp-action="Detail" asp-route-Id="@foodSet.Id">@foodSet.Name</a>

                    @foreach (Ingredient ingredient in foodSet.Ingredients)
                    {
                        <div class="description-block">@ingredient.Name</div>
                    }

                    <div class="card-footer">
                        <div class="price-block">Price: @foodSet.Price $</div>
                        <div class="delivery-info">
                            <span>Price: @foodSet.Calorific kkal</span>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</body>



