@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@model HealthAndBeauty.Models.Order;
@{
    ViewData["Title"] = "Orders";
}

@inject UserManager<IdentityUser> userManager;

<h1>Orders</h1>
<head>
    <script src="~/js/orders-scripts/orders-scripts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/css/orders/orders.css" />
</head>
<body>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <form>
                @Html.DropDownListFor(x=>x.CourierId, new SelectList(ViewBag.Couriers, "Value", "Text"))
                <input type="submit" class="btn btn-success" onclick="bindCourier()"/>
            </form> 
        </div>
    </div>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">№</th>
                <!--<td scope="col"></td>-->
                <th scope="col">Username</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Timer</th>
                <th scope="col">Status</th>
                <th scope="col">Сourier</th>
                <th scope="col">Payment</th>
                <th scope="col">Delivery</th>
                <th scope="col">Phone</th>

            </tr>
        </thead>

        <tbody>
            @foreach (Order order in ViewBag.Orders)
            {
                <tr>
                    <th scope="row" class="id">@order.Id</th>
                    <!--<d class="ms">@order.ReceiptDate.Ticks</td>-->

                    <td>@userManager.FindByIdAsync(order.UserId.ToString()).Result.UserName</td>

                    <td class="date-row">@order.ReceiptDate.ToShortDateString()</td>
                    <td class="time-row">@order.ReceiptDate.ToLongTimeString()</td>
                    <td class="timer-row"></td>
                    <td>@order.Status</td>
                    @if (order.CourierId.ToString() != Guid.Empty.ToString())
                    {
                        <td>@userManager.FindByIdAsync(order.CourierId.ToString()).Result.UserName</td>
                    }
                    else if (order.IsDelivery)
                    {
                        <td><button class="btn btn-success" value="set" id="setCourier">Set</button></td>
                    }
                    else
                    {
                        <td>---</td>
                    }
                    @if (order.IsCash)
                    {
                        <td>Cash</td>
                    }
                    else
                    {
                        <td>Card</td>
                    }
                    @if (order.IsDelivery)
                    {
                        <td>Delivery</td>
                    }
                    else
                    {
                        <td>Pickup</td>
                    }
                    <td>@order.PhoneNumber</td>
                </tr>

            }
        </tbody>

        <caption>List of orders</caption>

    </table>
</body>